<!DOCTYPE html>
<html>
<head>
<title>African Music Base</title>
<!--audio css-->

<!--style>
body{ background:#666; }
button{ border:none; cursor:pointer; outline:none; }
button#playpausebtn{
    background:url(images/play.png) no-repeat;
    width:58px;
    height:56px;
}



#mylist{ font-size:20px; width:250px; padding:5px; }


body{ background:#666; }
button{ border:none; cursor:pointer; outline:none; }
</style-->


<!-- add styles and scripts -->

     

    



</head>

<body>

  


<!--div id="container">
  <div id="audio-image">
    <img class="cover" />
  </div>
  <div id="audio-player">
    <div id="audio-info">
      <span class="artist"></span> - <span class="title"></span>
    </div>
     <input id="volume" type="range" min="0" max="10" value="5" />
     <br>
     <div id="buttons">
     <span>
      <button id="prev"></button>
      <button id="play"></button>
      <button id="pause"></button>
      <button id="stop"></button>
      <button id="next"></button>
      <div id="tracker">
      <div id="progressBar">
        <span id="progress"></span>
      </div>
      <span id="duration"></span>
      </span>
     </div>
     <div class="clearfix"></div>
     
     </div>
     <div class="clearfix"></div>
     

     <ul id="playlist" class="hidden">

      

           
      
    </ul>
  </div>

</div-->
 


<!--%= render baseplayer %-->





</div>  
 


</div>
<br>












<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">

          <div class="col-md-7">


            


            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-hover ">

              

              <% @songs.reverse_each do |song| %>
      <tr >
     
      <td>

        <% if song.cover? %>
                        
                        <%=link_to (image_tag song.cover.url(:front)), song %>

                      <% else %>
                        <%= image_tag("fallback/noimage.jpg") %>
                        
                        <% end %>


        </td>
      

     
     
         <td align="left">
 
     <div   class="buttons">
     <span>
      
      <button id="play"></button>
      <button id="pause"></button>
    </span>
     
     <ul id="playlist" class="hidden">
     <li song='<%= song.audio.url if song.audio %>' cover="cover1.jpg" artist="Lacrae ft. Mali Music">Tell The Worl.mp3</li>    
   
    </ul>
      

      
      </div> 
      
 
        <script>

var audio;

//Hide Pause Initially
$('#pause').hide();
$('#playlist').hide();
 
//Initializer - Play First Song
initAudio($('#playlist li'));
  
function initAudio(element){
  var song = element.attr('song');
    var title = element.text();
    var cover = element.attr('cover');
    var artist = element.attr('artist');

  //Create a New Audio Object
  audio = new Audio(song);
  
  if(!audio.currentTime){
    $('#duration').html('0.00');
  }

  $('#audio-player .title').text(title);
    $('#audio-player .artist').text(artist);
  
  //Insert Cover Image
  $('img.cover').attr('src','images/covers/' + cover);
  
  $('#playlist li').removeClass('active');
    element.addClass('active');
}


//Play Button
$('#play').click(function(){
  audio.play();
  $('#play').hide();
  $('#pause').show();
  $('#duration').fadeIn(400);
  showDuration();
});

//Pause Button
$('#pause').click(function(){
  audio.pause();
  $('#pause').hide();
  $('#play').show();
});
  
//Stop Button
$('#stop').click(function(){
  audio.pause();    
  audio.currentTime = 0;
  $('#pause').hide();
  $('#play').show();
  $('#duration').fadeOut(400);
});

//Next Button
$('#next').click(function(){
    audio.pause();
    var next = $('#playlist li.active').next();
    if (next.length == 0) {
        next = $('#playlist li:first-child');
    }
    initAudio(next);
  audio.play();
  showDuration();
});

//Prev Button
$('#prev').click(function(){
    audio.pause();
    var prev = $('#playlist li.active').prev();
    if (prev.length == 0) {
        prev = $('#playlist li:last-child');
    }
    initAudio(prev);
  audio.play();
  showDuration();
});

//Playlist Song Click

$('#playlist').click(function () {
    audio.pause();
    initAudio($(this));
  $('#play').hide();
  $('#pause').show();
  $('#duration').fadeIn(400);
  audio.play();
  showDuration();
}); 

//Volume Control
$('#volume').change(function(){
  audio.volume = parseFloat(this.value / 10);
});
  
//Time Duration
function showDuration(){
  $(audio).bind('timeupdate', function(){
    //Get hours and minutes
    var s = parseInt(audio.currentTime % 60);
    var m = parseInt((audio.currentTime / 60) % 60);
    //Add 0 if seconds less than 10
    if (s < 10) {
      s = '0' + s;
    }
    $('#duration').html(m + '.' + s); 
    var value = 0;
    if (audio.currentTime > 0) {
      value = Math.floor((100 / audio.duration) * audio.currentTime);
    }
    $('#progress').css('width',value+'%');
  });
}


</script>          
                     
        </td>
     



     
      <td class="" align="left" >     
       <%= link_to song.title, song %>
       </br>
       <%= song.artist %>
     </br>
     </br>
     <span class="glyphicon glyphicon-thumbs-up"></span>Like  <span class="glyphicon glyphicon-download-alt"></span>Download  <span class="glyphicon glyphicon-retweet"></span>Repost  <span class="glyphicon glyphicon-list"></span>
      </td>
        
        <td ><button type="button" class="btn btn-default btn-sm"> 
                                  <span class="glyphicon glyphicon-share btn btn-warning btn-xs"></span>
                            </button><span>24,755</span></td>


        

    </tr>
    <% end %>
    

  </table>
</div>




          <!--related feeds-->
          <div class="col-md-5"><%= image_tag "related.png" %></div>
        </div>
      <br>
          <% @songs.each do |song| %>
                <%= link_to 'New Song', new_song_path %>
                <%= link_to 'Edit', edit_song_path(song) %> |
                <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %>|
                <%= link_to 'Back', songs_path %>


          <% end %>
      </div>
</div>






</body>



    <footer>
          <div class="player-wrap pindown centerfy">
            
<div class = "downanalyser" >

            
          </div> 

          </div>  
    </footer>

</html>


